{% extends "base.html" %}

{% load sleight_extras %}

{% block title %}
    {{ pair }}
{% endblock%}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% if user.is_authenticated %}
                <h3>Balances for {{ user.username }}</h3>
                {% if base_balance %}
                    <div class="col-md-6">
                        <h4>Base: <b><strong><span id="{{ base_balance.currency.code|lower }}_balance">{{ base_balance.amount|stringformat:"f"|trim_zeros }}</span></strong> {{ base_balance.currency.code }}</b></h4>
                    </div>
                {% endif %}
                {% if relative_balance %}
                    <div class="col-md-6">
                        <h4>Relative: <b><strong><span id="{{ relative_balance.currency.code|lower }}_balance">{{ relative_balance.amount|stringformat:"f"|trim_zeros }}</span></strong> {{ relative_balance.currency.code }}</b></h4>
                    </div>
                {% endif %}
            {% else %}
                <h3><a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a> to view balances</h3>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <h3>Bids</h3>
            <div id="bids-table">
                <table id="bid_orders" class="table table-condensed table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            Price ({{ pair.base_currency.code }})
                        </td>
                        <td>
                            Amount ({{ pair.relative_currency.code }})
                        </td>
                        <td>
                            Total ({{ pair.base_currency.code }})
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for bid in bids %}
                    <tr id="order_{{ bid.id }}">
                        <td class="id">{{ bid.id }}</td>
                        <td id="order_{{ bid.id }}_price" class="price">{{ bid.price|trim_zeros }}</td>
                        <td id="order_{{ bid.id }}_amount" class="amount">{{ bid.amount|trim_zeros }}</td>
                        <td id="order_{{ bid.id }}_total" class="total">{{ bid.amount|multiply:bid.price|trim_zeros }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <div class="col-md-5">
            <h3>Asks</h3>
            <div id="asks-table">
                <table id="ask_orders" class="table table-condensed table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            Price ({{ pair.base_currency.code }})
                        </td>
                        <td>
                            Amount ({{ pair.relative_currency.code }})
                        </td>
                        <td>
                            Total ({{ pair.base_currency.code }})
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for ask in asks %}
                    <tr id="order_{{ ask.id }}">
                        <td class="id">{{ ask.id }}</td>
                        <td id="order_{{ ask.id }}_price" class="price">{{ ask.price|trim_zeros }}</td>
                        <td id="order_{{ ask.id }}_amount" class="amount">{{ ask.amount|trim_zeros }}</td>
                        <td id="order_{{ ask.id }}_total" class="total">{{ ask.amount|multiply:ask.price|trim_zeros }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>Trades</h3>
            <div id="trades-table">
                <table id="trades" class="table table-condensed table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <td>
                            Time
                        </td>
                        <td>
                            Type
                        </td>
                        <td>
                            Price ({{ pair.base_currency.code }})
                        </td>
                        <td>
                            Amount ({{ pair.relative_currency.code }})
                        </td>
                        <td>
                            Total ({{ pair.base_currency.code }})
                        </td>
                        <td>
                            Initiating ID
                        </td>
                        <td>
                            Existing ID
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for trade in trades %}
                    <tr id="trade_{{ trade.id }}">
                        <td>
                            {{ trade.time|date:'Y-m-d H:i:s e' }}
                        </td>
                        <td>
                            {{ trade.initiating_order.order_type }}
                        </td>
                        <td>
                            {{ trade.existing_order.price|trim_zeros }}
                        </td>
                        <td>
                            {{ trade.amount|trim_zeros }}
                        </td>
                        <td>
                            {{ trade.amount|multiply:trade.existing_order.price|trim_zeros }}
                        </td>
                        <td>
                            {{ trade.initiating_order.id }}
                        </td>
                        <td>
                            {{ trade.existing_order.id }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block afterbody %}
    {% load staticfiles %}
    <script type="text/javascript" src='{% static "sleight/js/reconnecting-websocket.min.js" %}'></script>
    <script type="text/javascript" src='{% static "sleight/js/web_sockets.js" %}'></script>
{% endblock %}