{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    {{ pair }}
{% endblock%}

{% block content %}
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <h3>Bids</h3>
            <div id="bids-table">
                <table id="bid_orders" class="table table-condensed table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            Price
                        </td>
                        <td>
                            Amount
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for bid in bids %}
                    <tr id="order_{{ bid.id }}">
                        <td class="id">{{ bid.id }}</td>
                        <td id="order_{{ bid.id }}_price" class="price">{{ bid.price }}</td>
                        <td id="order_{{ bid.id }}_amount" class="amount">{{ bid.amount }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <div class="col-md-5">
            <h3>Asks</h3>
            <div id="asks-table">
                <table id="ask_orders" class="table table-condensed table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            Price
                        </td>
                        <td>
                            Amount
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for ask in asks %}
                    <tr id="order_{{ ask.id }}">
                        <td class="id">{{ ask.id }}</td>
                        <td id="order_{{ ask.id }}_price" class="price">{{ ask.price }}</td>
                        <td id="order_{{ ask.id }}_amount" class="amount">{{ ask.amount }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>Trades</h3>
            <div id="trades-table">
                <table id="trades" class="table table-condensed table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <td>
                            Time
                        </td>
                        <td>
                            Type
                        </td>
                        <td>
                            Price
                        </td>
                        <td>
                            Amount
                        </td>
                        <td>
                            Initiating ID
                        </td>
                        <td>
                            Existing ID
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for trade in trades %}
                    <tr id="trade_{{ trade.id }}">
                        <td>
                            {{ trade.time|date:'Y-m-d H:i:s e' }}
                        </td>
                        <td>
                            {{ trade.initiating_order.order_type }}
                        </td>
                        <td>
                            {{ trade.existing_order.price }}
                        </td>
                        <td>
                            {{ trade.amount }}
                        </td>
                        <td>
                            {{ trade.initiating_order.id }}
                        </td>
                        <td>
                            {{ trade.existing_order.id }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block afterbody %}
    <script type="text/javascript" src='{% static "sleight/js/reconnecting-websocket.min.js" %}'></script>
    <script type="text/javascript" src='{% static "sleight/js/web_sockets.js" %}'></script>
{% endblock %}