<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %} - Sleight Test Exchange
    </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'sleight/css/main.css' %}">
    <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
    <div id="main-content">
        {% block content %}
        {% endblock %}
    </div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.min.js" integrity="sha256-QsTkmZQ6VfrSolY5ZDK+yl/PelVUrMoxCOcoNxhoQc8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js" integrity="sha256-99xwBg9T4yoNwHeiDM290MTv4Tx7JH1DkBmp1wxTPe8=" crossorigin="anonymous"></script>
{% block afterbody %}
{% endblock %}
</html>